@media (max-width: 992px) {
  .home .subtitle{
    font-size: 30px;
  }
  .mobile-app__title{
    font-size: 25px;
  }
  .mobile-app .row{
    margin: 0 auto;
  }
  .high-standards .row .text .title{
    font-size: 25px;
  }
  .high-standards .row .text .title{
    font-size: 25px;
  }
  .projects .projects__title{
    font-size: 25px;
  }
  .projects .projects__title{
    font-size: 25px;
  }
  .footer__Body .title{
    font-size: 15px;
  }
  .footer__Body .footerLi .Footer-a{
    font-size: 12px;
  }
  .specializing .row .text .title{
    font-size: 25px;
  }
}